/* *{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1200px;
	margin: 0 auto;
	padding: 0px 10px;

}

SUPHEADER

.supheader {
  padding: 3px 0 ;
  background-color: #eee;
}

.supheader-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.supheader-registration {
  cursor: pointer;
  padding: 0 20px;
  color: gray;
  font-family: sans-serif;
  font-weight: 100;
}

.supheader-registration:hover {
  color: black;
  transition: 0.1;
}

.supheader-helps {
  cursor: pointer;
  padding: 0 20px;
  color: gray;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.supheader-helps:hover {
  color: black;
  transition: 0.1;
}

.supheader-country {
  cursor: pointer;
  padding: 0 20px;
}
  
.supheader-country img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.supheader-country img:hover {
  padding: 2px;
} 


HEADER

.header {
  position: sticky;
  top: 0;
  z-index: 30;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 29;
  display: none;
}

.header-logo {
	flex: 0 0 65px;
	border-radius: 50%;
	overflow: hidden;
  z-index: 41;
}

.header-logo img {
	max-width: 100%;
	display: block;
}


.header-content {
  z-index: 300;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.header-menu div {
  font-size: 20px;
}

.menu-text {
  display: flex;
  justify-content: space-around;
  width: 20%;
  color: white;
  margin-left: 4%;
}




.menu-icon {
  position: relative;
  width: 50%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.material-symbols-outlined {
  color: white;
}

.bag-icon {
  margin: 0 20px;
  cursor: pointer;
}

.bag-icon:hover {
  color: rgb(217, 206, 206);
}

.account-icon {
  cursor: pointer;
}

.account-icon:hover {
  color: rgb(217, 206, 206);
}

.menu-item {
  cursor: pointer;
  margin: 0 5%;
}

.hidden {
  display: none;
}

.menu-item:hover {
  color: rgb(217, 206, 206);
}

.input {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  padding-left: 2%;
  font-size: 18px;
}

.input:focus {
  outline: 4px solid rgb(92, 188, 226);
}

.input:focus::-webkit-input-placeholder {
  color: transparent
}

.search-icon {
  cursor: pointer;
  color: black;
  position: absolute;
  top: 4px;
  right: 110px;
}

.block-hidden {
  display: none;
}
.search-icon-hidden {
  display: none;
}

.header-burger {
  display: none;
}


@media (max-width: 767px) {
  .block-hidden {
    display: block;
    z-index: 55;
    display: flex;
    margin-right: 10%;
  }
  .icon-hidden {
    color: white;
    margin: 0 5px;
  }
  .header-burger {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    left: 90%;
    z-index: 41;
  }
  .header-burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s ease 0s;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.2s ease 0s;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger.active span {
		transform: scale(0);
	}
  .header-burger.active::before {
    transform: rotate(45deg);
		top: 9px;
  }
  .header-burger.active::after {
    transform: rotate(-45deg);
		top: 9px;
  }
  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 40px;
    transition: all 0.2s ease 0s;
  }
  .header-menu.active {
    top: 0;
  }
  .menu-text {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
  }
  .hidden {
    display: block;
  }
  .menu-item {
    margin: 15px 0;
  }
  .menu-icon {
    display: none;
  }
  .supheader {
    display: none;
  }
  .subheader {
    display: none;
  }
  .trigger {
    display: none;
  }
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .header-logo {
    flex: 0 0 45px;
  }
  .header::before {
    display: block;
  }
  .menu-text {
    color: black;
  }
  .weight {
    font-weight: 900;
  }
}


SUBHEADER

.subheader {
  width: 100%;
  height: 40px;
  background-color: rgb(69, 68, 68);
  position: absolute;
  top: 90px;
  left: 0;
}

.list {
  max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}


.list li {
  color: white;
  margin: 12px 0px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  max-width: 150px;
}

.list li:hover {
  color: rgb(217, 206, 206);
}

.sublist {
  background-color:rgb(69, 68, 68);
  display: none;
  position: absolute;
}

.sublist li {
  color: white;
  font-size: 16px;
  padding: 0px 35px;
  margin: 20px 0px;
}


.trigger:hover > .sublist {
  display: block;
} */




/* .container-main-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  display: flex;
}

.iphone-blok {
  margin: 40px 0 100px 0 ;
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  padding: 30px 0;
}

.iphone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.iphone-text h1 {
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900px;
  margin-bottom: 50px;
  line-height: 40px;
}

.iphone-text p {
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 50px;
  line-height: 25px;
}

.button {
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
}

.button:hover {
  background-color: rgb(157, 157, 157);
  color: rgb(255, 255, 255);
  transition: all 0.2s ease 0s;
}

.iphone-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

@media (max-width: 780px) {
  .container-main-page {
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iphone-image {
    margin-top: 30px;
  }
}

.iphone-text-white {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.iphone-text-white h1 {
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900px;
  margin-bottom: 50px;
  line-height: 40px;
}

.iphone-text-white p {
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 50px;
  line-height: 25px;
}

.iphone-blok-white {
  margin: 40px 0 100px 0 ;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.button-white {
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.button-white:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
  transition: all 0.2s ease 0s;
}  */


/* FOOTER

.footer {
  background-color: black;
  padding-bottom: 20px;
}

.first-group {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.first-item ul li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 17px;
  position: relative;
 padding-left: 30px;
}

.second-item ul li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 17px;
}

.second-item h3 {
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: 700;
}

.third-item h3 {
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: 700;
}

.third-item ul li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 17px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.icon-footer {
  color: white;
  position: absolute;
  left: 0;
}

.first-group {
  color: white;
}

.second-group {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.third-group p {
  color: white;
  font-size: 10px;
  margin: 10px 0;
}

.container-footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
} */


/* GOODS-PAGE-CONTENT

.main-blok {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.filters {
  height: 100%;
  width: 20%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(116, 116, 116, 0.285);
}

.products {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.label input {
  margin-bottom: 10px;
}

.main-camera {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid rgba(183, 183, 183, 0.215);
}

.title {
  margin-bottom: 20px;
  color: rgba(72, 144, 232, 0.662);
  font-weight: 700;
  font-size: 18px;
}

.label {
  position: relative;
  margin-bottom: 20px;
  padding-left: 1.2em;
}

.input-checkbox {
  position: absolute;
  display: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-family: sans-serif;
}

.check-box {
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  margin-left: -0.3em;
}


.input-checkbox:checked + .check-box {
  background-color: rgb(0, 0, 0);
}

.filter-hidden {
  display: none;
  
}

.filter-hidden-text {
  font-weight: 900px;
  font-size: 18px;
  margin-left: 15px;
}

.filter-hidden span {
  color: black;
}

@media (max-width: 991px) {
  .main-blok {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .filters {
    width: 23%;
    margin: 20px 0 30px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .main-camera {
    display: none;
  }
  .products {
    width: 100%;
  }
  .filter-hidden {
    padding: 10px;
    display: block;
  }
  .filter-hidden {
    color: black;
    display: flex; 
    align-items: center;
  }
}


.card {
  margin-bottom: 45px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(116, 116, 116, 0.285);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.checked-star {
  color: orange;
}

.card-icon {
  margin-bottom: 20px;
}

.card-text .heart {
  color: black;
  cursor: pointer;
}

.heart:hover {
  font-weight: 900;
}

.review {
  color: rgba(128, 128, 128, 0.696);
}

.title-product {
  margin: 15px 0;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}

.title-product span {
  font-style: normal;
  font-size: 14px;
}

.buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button .shopping-cart {
  color: black;
}

.card-text button {
  padding: 0 15px;
  width: 40%;
  height: 35px;
  background-color: rgba(72, 144, 232, 0.662);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}

.card-icon {
  cursor: pointer;
}

.card-text button:hover {
  color: white;
  box-shadow: 1px 1px 10px 5px rgba(116, 116, 116, 0.285);
  transition: all 0.2s ease 0s; 
}

.card-text button:hover > span {
  color: white;
  transition: all 0.2s ease 0s; 
}


@media (max-width: 767px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    min-width: 300px;
  }

  .main-blok {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  .filters {
    min-width: 200px;
    margin: 20px 0 30px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */



/* BASKET PAGE

.basket-content {
  margin: 40px 0;
}

.basket-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.my-bag {
  width: 58%;
}


.title-bag {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
}

.title-text-first {
  font-family: sans-serif;
}

.title-text-second {
  font-size: 13px;
  font-family: sans-serif;
}

.item-bag {
  margin-bottom: 17px;
  padding: 20px;
  display: flex;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
}

.item-bag-text {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.title-product-name {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(98, 95, 95);
}

.title-product {
  font-size: 20px;
  font-family: sans-serif;
}


.title-product span {
  font-style: normal;
  font-size: 14px;
}

.button-bag {
  height: 35px;
  font-size: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.429);
  border-radius: 5px;
  align-self: flex-end;
}

.button-bag:hover {
  font-weight: 700;
  border: 1px solid rgba(128, 128, 128, 0.967);

}

.button-bag .heart{
  margin-right: 5px;
  color: black;
  font-size: 17px;
}

.button-bag:hover .heart {
  font-weight: 700;
}

.item-bag-text .close {
  cursor: pointer;
  position: absolute;
  color: black;
  left: 88%;
}

.sub-title-bag {
  margin-bottom: 17px;
  padding: 20px;
  display: flex;
  justify-content: end;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
}

.sub-title-product {
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 10px;
}

.delivery-bag {
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  padding: 20px;
  display: flex;
}

.dilivery-icon .car {
  color: black;
}

.delivery-text {
  margin-left: 10px;
}

.delivery-text p {
  cursor: pointer;
  font-family: sans-serif;
}

.delivery-text .size14 {
  margin-top: 7px;
}

.underline {
  text-decoration: underline;
}

.size14 {
  font-family: sans-serif;
  font-size: 12px;
}

.total {
  padding: 0 20px 20px 20px;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  width: 40%;
  height: 100%;
}

.total-title {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
}

.sub-total-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.sub-total-title .text {
  font-family: sans-serif;
  font-size: 16px;
}

.total-title-product {
  font-family: sans-serif;
  font-size: 14px;
}

.title-product .error {
  cursor: pointer;
  color: black;
}

.total-button {
  background-color: rgba(72, 144, 232, 0.662);;
  margin: 40px 0;
  width: 100%;
  padding: 10px 0;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
}

.total-button:hover {
  background-color: rgba(72, 144, 232, 0.956);;
}  

.text-pay {
  font-family: sans-serif;
  margin-bottom: 7px;
}

.icon-pay img {
  height: 18px;
  min-width: 60%;
}

.discount-text {
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.608);
  font-weight: 300;
}


@media (max-width: 767px) {
  .basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .my-bag {
    margin-bottom: 17px;
    min-width: 400px;
  }
  .total {
    min-width: 280px;
  }
  .basket-content {
    display: flex;
    align-items: center;
  }
} */



/* ORDERING */



/* .basket-content {
  margin: 40px 0;
}

.basket-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.my-bag {
  width: 58%;
}


.total {
  padding: 0 20px 20px 20px;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  width: 40%;
  height: 100%;
}

.order-country {
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  padding: 20px;
  margin-bottom: 17px;
}

.country-title {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
}

.xd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-country {
  display: flex;
  align-items: center;
}

.flag-country img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.country-change {
  padding: 7px 15px;
  font-family: sans-serif;
  background-color: rgba(128, 128, 128, 0.225);
}

.country-change:hover {
  background-color: rgba(128, 128, 128, 0.521);
}

.code {
display: flex;
}

.code input {
  border: 1px solid black;
  width: 68%;
}

.code input:focus {
  box-shadow: 0px 0px 10px -1px rgba(3, 154, 255, 0.647);

}

.code button {
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  margin-left: 17px;
  padding: 10px;
  width: 28%;
  background-color: rgba(0, 0, 0, 0.742);
}

.code button:hover {
  background-color: rgba(0, 0, 0);
}

.registration {
  border: 1px solid black;
  width: 68%;
  height: 40px;
}

.registration:focus {
  box-shadow: 0px 0px 10px -1px rgba(3, 154, 255, 0.647);
}

.country-title-registration {
  margin-bottom: 15px;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
}

.code-registration {
  margin-bottom: 20px;
}

.code-registration p {
  color: rgba(102, 102, 102, 0.701);
  margin-bottom: 5px;
}

.submit {
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.742);
}

.submit:hover {
  background-color: rgba(0, 0, 0);
}

.payment {
  margin-top: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 10px;
}

.code-registration select {
  border: 1px solid black;
  height: 40px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.cvv {
  border: 1px solid black;
  width: 28%;
  height: 40px;
}

.cvv:focus {
  box-shadow: 0px 0px 10px -1px rgba(3, 154, 255, 0.647);
}


.total-title {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
  font-weight: 700;
  letter-spacing: 2px;
}

.box-total-item {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
  padding-bottom: 20px;
}

.total-item img {
  width: 75px;
  height: 100px;
}

.item-bag-text {
  margin-left: 17px;
}

.title-product {
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 10px;
}


.title-product span {
  font-style: sans-serif;
  font-size: 10px;
}

.title-product-name {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(98, 95, 95);
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.subtotal-title-product {
  font-family: sans-serif;
  font-weight: 300;
}

.subtotal-title-product span {
  font-style: sans-serif;
  font-size: 10px;
}

.subtotal p {
  font-style: sans-serif;
}

.total-to-pay {
  font-weight: 700;
}


@media (max-width: 767px) {
  .basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .basket-content {
    display: flex;
    align-items: center;
  }
  .my-bag {
    min-width: 500px;
  }
  .total {

  }
} */