/* *{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1200px;
	margin: 0 auto;
	padding: 0px 10px;

}

SUPHEADER

.supheader {
  padding: 3px 0 ;
  background-color: #eee;
}

.supheader-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.supheader-registration {
  cursor: pointer;
  padding: 0 20px;
  color: gray;
  font-family: sans-serif;
  font-weight: 100;
}

.supheader-registration:hover {
  color: black;
  transition: 0.1;
}

.supheader-helps {
  cursor: pointer;
  padding: 0 20px;
  color: gray;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.supheader-helps:hover {
  color: black;
  transition: 0.1;
}

.supheader-country {
  cursor: pointer;
  padding: 0 20px;
}
  
.supheader-country img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.supheader-country img:hover {
  padding: 2px;
} 


HEADER

.header {
  position: sticky;
  top: 0;
  z-index: 30;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 29;
  display: none;
}

.header-logo {
	flex: 0 0 65px;
	border-radius: 50%;
	overflow: hidden;
  z-index: 41;
}

.header-logo img {
	max-width: 100%;
	display: block;
}


.header-content {
  z-index: 300;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.header-menu div {
  font-size: 20px;
}

.menu-text {
  display: flex;
  justify-content: space-around;
  width: 20%;
  color: white;
  margin-left: 4%;
}




.menu-icon {
  position: relative;
  width: 50%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.material-symbols-outlined {
  color: white;
}

.bag-icon {
  margin: 0 20px;
  cursor: pointer;
}

.bag-icon:hover {
  color: rgb(217, 206, 206);
}

.account-icon {
  cursor: pointer;
}

.account-icon:hover {
  color: rgb(217, 206, 206);
}

.menu-item {
  cursor: pointer;
  margin: 0 5%;
}

.hidden {
  display: none;
}

.menu-item:hover {
  color: rgb(217, 206, 206);
}

.input {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  padding-left: 2%;
  font-size: 18px;
}

.input:focus {
  outline: 4px solid rgb(92, 188, 226);
}

.input:focus::-webkit-input-placeholder {
  color: transparent
}

.search-icon {
  cursor: pointer;
  color: black;
  position: absolute;
  top: 4px;
  right: 110px;
}

.block-hidden {
  display: none;
}
.search-icon-hidden {
  display: none;
}

.header-burger {
  display: none;
}


@media (max-width: 767px) {
  .block-hidden {
    display: block;
    z-index: 55;
    display: flex;
    margin-right: 10%;
  }
  .icon-hidden {
    color: white;
    margin: 0 5px;
  }
  .header-burger {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    left: 90%;
    z-index: 41;
  }
  .header-burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s ease 0s;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.2s ease 0s;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger.active span {
		transform: scale(0);
	}
  .header-burger.active::before {
    transform: rotate(45deg);
		top: 9px;
  }
  .header-burger.active::after {
    transform: rotate(-45deg);
		top: 9px;
  }
  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 40px;
    transition: all 0.2s ease 0s;
  }
  .header-menu.active {
    top: 0;
  }
  .menu-text {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
  }
  .hidden {
    display: block;
  }
  .menu-item {
    margin: 15px 0;
  }
  .menu-icon {
    display: none;
  }
  .supheader {
    display: none;
  }
  .subheader {
    display: none;
  }
  .trigger {
    display: none;
  }
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .header-logo {
    flex: 0 0 45px;
  }
  .header::before {
    display: block;
  }
  .menu-text {
    color: black;
  }
  .weight {
    font-weight: 900;
  }
}


SUBHEADER

.subheader {
  width: 100%;
  height: 40px;
  background-color: rgb(69, 68, 68);
  position: absolute;
  top: 90px;
  left: 0;
}

.list {
  max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}


.list li {
  color: white;
  margin: 12px 0px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  max-width: 150px;
}

.list li:hover {
  color: rgb(217, 206, 206);
}

.sublist {
  background-color:rgb(69, 68, 68);
  display: none;
  position: absolute;
}

.sublist li {
  color: white;
  font-size: 16px;
  padding: 0px 35px;
  margin: 20px 0px;
}


.trigger:hover > .sublist {
  display: block;
} */




/* .container-main-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  display: flex;
}

.iphone-blok {
  margin: 40px 0 100px 0 ;
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  padding: 30px 0;
}

.iphone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.iphone-text h1 {
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900px;
  margin-bottom: 50px;
  line-height: 40px;
}

.iphone-text p {
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 50px;
  line-height: 25px;
}

.button {
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
}

.button:hover {
  background-color: rgb(157, 157, 157);
  color: rgb(255, 255, 255);
  transition: all 0.2s ease 0s;
}

.iphone-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

@media (max-width: 780px) {
  .container-main-page {
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iphone-image {
    margin-top: 30px;
  }
}

.iphone-text-white {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.iphone-text-white h1 {
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900px;
  margin-bottom: 50px;
  line-height: 40px;
}

.iphone-text-white p {
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 50px;
  line-height: 25px;
}

.iphone-blok-white {
  margin: 40px 0 100px 0 ;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.button-white {
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.button-white:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
  transition: all 0.2s ease 0s;
}  */


.footer {
  background-color: black;
  padding-bottom: 20px;
}

.first-group {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.first-item ul li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 17px;
  position: relative;
 padding-left: 30px;
}

.second-item ul li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 17px;
}

.second-item h3 {
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: 700;
}

.third-item h3 {
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: 700;
}

.third-item ul li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 17px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.icon-footer {
  color: white;
  position: absolute;
  left: 0;
}

.first-group {
  color: white;
}

.second-group {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.third-group p {
  color: white;
  font-size: 10px;
  margin: 10px 0;
}

.container-footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}