.basket-content {
  margin: 40px 0;
}

.basket-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.my-bag {
  width: 58%;
}


.title-bag {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
}

.title-text-first {
  font-family: sans-serif;
}

.title-text-second {
  font-size: 13px;
  font-family: sans-serif;
}

.item-bag {
  margin-bottom: 17px;
  padding: 20px;
  display: flex;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
}

.item-bag-text {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.title-product-name {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(98, 95, 95);
}

.title-product {
  font-size: 20px;
  font-family: sans-serif;
}


.title-product span {
  font-style: normal;
  font-size: 14px;
}

.button-bag {
  height: 35px;
  font-size: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.429);
  border-radius: 5px;
  align-self: flex-end;
}

.button-bag:hover {
  font-weight: 700;
  border: 1px solid rgba(128, 128, 128, 0.967);

}

.button-bag .heart{
  margin-right: 5px;
  color: black;
  font-size: 17px;
}

.button-bag:hover .heart {
  font-weight: 700;
}

.item-bag-text .close {
  cursor: pointer;
  position: absolute;
  color: black;
  left: 88%;
}

.sub-title-bag {
  margin-bottom: 17px;
  padding: 20px;
  display: flex;
  justify-content: end;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
}

.sub-title-product {
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 10px;
}

.delivery-bag {
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  padding: 20px;
  display: flex;
}

.dilivery-icon .car {
  color: black;
}

.delivery-text {
  margin-left: 10px;
}

.delivery-text p {
  cursor: pointer;
  font-family: sans-serif;
  /* margin-bottom: 7px; */
}

.delivery-text .size14 {
  margin-top: 7px;
}

.underline {
  text-decoration: underline;
}

.size14 {
  font-family: sans-serif;
  font-size: 12px;
}

.total {
  padding: 0 20px 20px 20px;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  width: 40%;
  height: 100%;
}

.total-title {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
}

.sub-total-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.sub-total-title .text {
  font-family: sans-serif;
  font-size: 16px;
}

.total-title-product {
  font-family: sans-serif;
  font-size: 14px;
}

.title-product .error {
  cursor: pointer;
  color: black;
}

.total-button {
  background-color: rgba(72, 144, 232, 0.662);
  margin: 40px 0;
  width: 100%;
  padding: 10px 0;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
}

.total-button:hover {
  background-color: rgba(72, 144, 232, 0.956);
}  

.text-pay {
  font-family: sans-serif;
  margin-bottom: 7px;
}

.icon-pay img {
  height: 18px;
  min-width: 60%;
}

.discount-text {
  margin-top: 10px;
  /* font-family: sans-serif; */
  color: rgba(128, 128, 128, 0.608);
  font-weight: 300;
}


@media (max-width: 767px) {
  .basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .my-bag {
    margin-bottom: 17px;
    min-width: 400px;
  }
  .total {
    min-width: 280px;
  }
  .basket-content {
    display: flex;
    align-items: center;
  }
}