.main-blok {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.filters {
  height: 100%;
  width: 20%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(116, 116, 116, 0.285);
}

.products {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.label input {
  margin-bottom: 10px;
}

.main-camera {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid rgba(183, 183, 183, 0.215);
}

.title {
  margin-bottom: 20px;
  color: rgba(72, 144, 232, 0.662);
  font-weight: 700;
  font-size: 18px;
}

.label {
  position: relative;
  margin-bottom: 20px;
  padding-left: 1.2em;
}

.input-checkbox {
  position: absolute;
  display: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-family: sans-serif;
}

.check-box {
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  margin-left: -0.3em;
}


.input-checkbox:checked + .check-box {
  background-color: rgb(0, 0, 0);
}

.filter-hidden {
  display: none;
  
}

.filter-hidden-text {
  font-weight: 900px;
  font-size: 18px;
  margin-left: 15px;
}

.filter-hidden span {
  color: black;
}

@media (max-width: 991px) {
  .main-blok {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .filters {
    width: 23%;
    margin: 20px 0 30px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .main-camera {
    display: none;
  }
  .products {
    width: 100%;
  }
  .filter-hidden {
    padding: 10px;
    min-width: 150px;
    display: flex;
    justify-content: center;
  }
  .filter-hidden {
    color: black;
    display: flex; 
    align-items: center;
  }
}


.card {
  margin-bottom: 45px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(116, 116, 116, 0.285);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.checked-star {
  color: orange;
}

.card-icon {
  margin-bottom: 20px;
}

.card-text .heart {
  color: black;
  cursor: pointer;
}

.heart:hover {
  font-weight: 900;
}

.review {
  color: rgba(128, 128, 128, 0.696);
}

.title-product {
  margin: 15px 0;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}

.title-product span {
  font-style: normal;
  font-size: 14px;
}

.buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button .shopping-cart {
  color: black;
}

.card-text button {
  padding: 0 15px;
  width: 40%;
  height: 35px;
  background-color: rgba(72, 144, 232, 0.662);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}

.card-icon {
  cursor: pointer;
}

.card-text button:hover {
  color: white;
  box-shadow: 1px 1px 10px 5px rgba(116, 116, 116, 0.285);
  transition: all 0.2s ease 0s; 
}

.card-text button:hover > span {
  color: white;
  transition: all 0.2s ease 0s; 
}


@media (max-width: 767px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    min-width: 300px;
  }
  .main-blok {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  .filter-hidden {
    min-width: 150px;
    display: flex;
    justify-content: center;
  }
  .filters {
    min-width: 200px;
    margin: 20px 0 30px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}