.header {
  position: sticky;
  top: 0;
  z-index: 30;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 29;
  display: none;
}

.header-logo {
	flex: 0 0 65px;
	border-radius: 50%;
	overflow: hidden;
  z-index: 41;
}

.header-logo img {
	max-width: 100%;
	display: block;
}


.header-content {
  z-index: 300;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.header-menu div {
  font-size: 20px;
}

.menu-text {
  display: flex;
  justify-content: space-around;
  width: 20%;
  color: white;
  margin-left: 4%;
}




.menu-icon {
  position: relative;
  width: 50%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.material-symbols-outlined {
  color: white;
}

.bag-icon {
  margin: 0 20px;
  cursor: pointer;
}

.bag-icon:hover {
  color: rgb(217, 206, 206);
}

.account-icon {
  cursor: pointer;
}

.account-icon:hover {
  color: rgb(217, 206, 206);
}

.menu-item {
  cursor: pointer;
  margin: 0 5%;
}

.hidden {
  display: none;
}

.menu-item:hover {
  color: rgb(217, 206, 206);
}

.input {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  padding-left: 2%;
  font-size: 18px;
}

.input:focus {
  outline: 4px solid rgb(92, 188, 226);
}

.input:focus::-webkit-input-placeholder {
  color: transparent
}

.search-icon {
  cursor: pointer;
  color: black;
  position: absolute;
  top: 4px;
  right: 110px;
}

.block-hidden {
  display: none;
}
/* .search-icon-hidden {
  display: none;
} */

.header-burger {
  display: none;
}


@media (max-width: 767px) {
  .block-hidden {
    display: block;
    z-index: 55;
    display: flex;
    margin-right: 10%;
  }
  .icon-hidden {
    color: white;
    margin: 0 5px;
  }
  .header-burger {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    left: 90%;
    z-index: 41;
  }
  .header-burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s ease 0s;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.2s ease 0s;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger.active span {
		transform: scale(0);
	}
  .header-burger.active::before {
    transform: rotate(45deg);
		top: 9px;
  }
  .header-burger.active::after {
    transform: rotate(-45deg);
		top: 9px;
  }
  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 40px;
    transition: all 0.2s ease 0s;
  }
  .header-menu.active {
    top: 0;
  }
  .menu-text {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
  }
  .hidden {
    display: block;
  }
  .menu-item {
    margin: 15px 0;
  }
  .menu-icon {
    display: none;
  }
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .header-logo {
    flex: 0 0 45px;
  }
  .header::before {
    display: block;
  }
  .menu-text {
    color: black;
  }
  .weight {
    font-weight: 900;
  }
}