.container-main-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  display: flex;
}

.iphone-blok {
  margin: 40px 0 100px 0 ;
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  padding: 30px 0;
}

.iphone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.iphone-text h1 {
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900px;
  margin-bottom: 50px;
  line-height: 40px;
}

.iphone-text p {
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 50px;
  line-height: 25px;
}

.button {
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
}

.button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 3px solid white;
  transition: all 0.2s ease 0s;
}

.iphone-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 780px) {
  .container-main-page {
    max-width: 1200px;
    /* padding: 0 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iphone-image {
    margin-top: 30px;
    min-width: 100%;
  } 
}

.iphone-text-white {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.iphone-text-white h1 {
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900px;
  margin-bottom: 50px;
  line-height: 40px;
}

.iphone-text-white p {
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 50px;
  line-height: 25px;
}

.iphone-blok-white {
  margin: 40px 0 100px 0 ;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.button-white {
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.button-white:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
  transition: all 0.2s ease 0s;
} 