.basket-content {
  margin: 40px 0;
}

.basket-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.my-bag {
  width: 58%;
}


.total {
  padding: 0 20px 20px 20px;
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  width: 40%;
  height: 100%;
}

.order-country {
  box-shadow: 0px 0px 10px -1px rgba(128, 128, 128, 0.345);
  padding: 20px;
  margin-bottom: 17px;
}

.country-title {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
}

.xd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-country {
  display: flex;
  align-items: center;
}

.flag-country img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.country-change {
  padding: 7px 15px;
  font-family: sans-serif;
  background-color: rgba(128, 128, 128, 0.225);
}

.country-change:hover {
  background-color: rgba(128, 128, 128, 0.521);
}

.code {
display: flex;
}

.code input {
  border: 1px solid black;
  width: 68%;
}

.code input:focus {
  box-shadow: 0px 0px 10px -1px rgba(3, 154, 255, 0.647);

}

.code button {
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  margin-left: 17px;
  padding: 10px;
  width: 28%;
  background-color: rgba(0, 0, 0, 0.742);
}

.code button:hover {
  background-color: rgba(0, 0, 0);
}

.registration {
  border: 1px solid black;
  width: 68%;
  height: 40px;
}

.registration:focus {
  box-shadow: 0px 0px 10px -1px rgba(3, 154, 255, 0.647);
}

.country-title-registration {
  margin-bottom: 15px;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
}

.code-registration {
  margin-bottom: 20px;
}

.code-registration p {
  color: rgba(102, 102, 102, 0.701);
  margin-bottom: 5px;
}

.submit {
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.742);
}

.submit:hover {
  background-color: rgba(0, 0, 0);
}

.payment {
  margin-top: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 10px;
}

.code-registration select {
  border: 1px solid black;
  height: 40px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.cvv {
  border: 1px solid black;
  width: 28%;
  height: 40px;
}

.cvv:focus {
  box-shadow: 0px 0px 10px -1px rgba(3, 154, 255, 0.647);
}


.total-title {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
  font-weight: 700;
  letter-spacing: 2px;
}

.box-total-item {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
  padding-bottom: 20px;
}

.total-item img {
  width: 75px;
  height: 100px;
}

.item-bag-text {
  margin-left: 17px;
}

.title-product {
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 10px;
}


.title-product span {
  font-style: sans-serif;
  font-size: 10px;
}

.title-product-name {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(98, 95, 95);
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.subtotal-title-product {
  font-family: sans-serif;
  font-weight: 300;
}

.subtotal-title-product span {
  font-style: sans-serif;
  font-size: 10px;
}

.subtotal p {
  font-style: sans-serif;
}

.total-to-pay {
  font-weight: 700;
}


@media (max-width: 767px) {
  .basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .basket-content {
    display: flex;
    align-items: center;
  }
  .my-bag {
    min-width: 320px;
    width: 100%;
  }
  .total {
    width: 100%;
  }
}